

  .inputform{
    width: 90%;
    padding: 12px 20px; 
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 249, 249);
    color: rgb(10, 10, 10);
    font-family: Arial, Helvetica, sans-serif;

  }
  
 
  
  input[type=submit] {
    border: none;
    color: black;
    margin: 8px 0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    /* cursor: pointer; */
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 22px;
  }
  
  .login, .register{
  background-color: #BED1D2;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width:500px;
  min-width: 400px;
  padding: 20px 20px;
  position: relative;
}
   .registerform, .loginform{
      margin-top: 30px;
      
      margin-left: auto;
      margin-right: auto;
   }
  
  
  .container{
    /* background-color: antiquewhite; */
    border-style: hidden;
    border-radius: 15px;
    padding:18px;
    text-align: center;
    box-shadow: 0 8px 6px -6px black;
    
 
    
  }
  @media screen and (max-width:900px){
  
      .main-contianer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly; 
        
      }
    
    }